.videos-index {
    width: 100%;
    height: 100%;
}


.videos-index-header {
    height: 12%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    background-color: #000002;
}

.videos-index-header-left {
    width: 510px;
    display: flex;
    height: 100%;
    flex-direction: row;

}

.videos-index-header-left div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.videos-index-header-left h3 {
    color: white;
}


.search-hidden {
    width: 200px;
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: center;
}

.search-hidden h3 {
    color: white;
}

.search-hidden img {
    height: 50%;
    cursor: pointer;
}

.fa-search {
    color: #fff;
    cursor: pointer;
    margin-left: 6px;
}

.search-hidden form {
    display: flex;
    flex-direction: row;
}

.hide-search {
    height: 0;
    opacity: 0;
    width: 0;
}

.search-activated form {
    display: flex;
    flex-direction: row;
}

.search-activated {
    width: 200px;
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: center;
}

.search-activated h3 {
    color: white;
}

.search-activated img {
    height: 50%;
    cursor: pointer;
}


.fa-caret-down {
    color: white;
}

.patrick-stewart-div {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 25%;
}

// .patrick-stewart-div ul {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-around;
// }

.patrick-swayze-div {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 25%;
}

// .patrick-swayze-div ul {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-around;
// }

.neil-patrick-harris-div {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 25%;
}

// .neil-patrick-harris-div ul {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-around;
// }

.video-player-div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: red;
}

.back-to-browse {
    display: flex;
    flex-direction: row;
}



.forward-button {
    height: 36px;
    margin-right: 34px;
    cursor: pointer;
}

.reverse-button {
    height: 36px;
    margin-right: 32px;
    cursor: pointer;
}

.fa-compress {
    color: white;
    font-size: 31px;
    margin-right: 4px;
    transition: color 300ms;
    cursor: pointer;
}

.movie-title {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 500;
}

.bottom-row {
    width: 96%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

// .video-element {
//     height: 200px;
//     width: 25%;
// }

.index-item{
    height: 80%;
    width: 20%;
    
}

.index-item img {
    height: 80%;
    width: 80%;
    object-fit: cover;
}

.videos-index-body{
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: column;


}