h1, h2, h3, h4, h5, h6, a, div {
    font-family: Arial, Helvetica, sans-serif;
}

.videos-index {
    width: 100%;
    height: 100%;
}

#back-arrow-icon{
    padding-right: 10px;
}

.display_none {
    display: none;
}

.videos-index-header {
    height: 12%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    background-color: #000002;
}

.videos-index-header-left {
    width: 50%;
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: center;

}

.videos-index-header-left div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.videos-index-header-left img {
    padding-right: 10px;
}

.videos-index-header-left h3 {
    color: white;
    font-size: 18px;
    // font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}


.search-hidden {
    width: 50%;
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.search-hidden h3 {
    color: white;
}

.search-hidden img {
    height: 50%;
    cursor: pointer;
    
}

.fa-search {
    color: #fff;
    cursor: pointer;
    margin-left: 6px;
}



.hide-search {
    height: 0;
    opacity: 0;
    width: 0;
}


.right-nav {
    width: 50%;
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.right-nav h3 {
    color: white;
}

.right-nav img {
    height: 50%;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
}


.fa-caret-down {
    color: white;
}

.patrick-stewart-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 80%;
}


.upper-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 80%;
}
// .patrick-swayze-div {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-around;
//     height: 80%;
// }


.detail-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 0;
    width: 100%;
}


.video-player-div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: black;
   
}

.back-to-browse {
    display: flex;
    flex-direction: row;
    margin-left: 3vw;
    margin-top: 3vh;
    opacity: 0;
    align-items: center;
}

.back-to-browse * {
    color: white;
}

.fa-volume-mute {
    color: white;
}

.fa-volume-up {
    color: white;
}


.forward-button {
    height: 36px;
    margin-right: 34px;
    cursor: pointer;
}

#search-input{
    margin-left: 20px;
}

.reverse-button {
    height: 36px;
    margin-right: 32px;
    cursor: pointer;
}

.fa-compress {
    color: white;
    font-size: 31px;
    margin-right: 4px;
    transition: color 300ms;
    cursor: pointer;
}

.movie-title {
    font-size: 17px;
    // font-family: Arial, Helvetica, sans-serif;
    color: grey;
    font-weight: 500;
}

#log-out-modal{
    opacity: 0;
    height: 50px;
    width: 75px;
    margin-top: 85px;
}

#play-button{
    cursor: pointer;
}

.bottom-row{
    
    width: 70%;
    // margin-top: 90%;
    height: 10%;
 
    bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    opacity: "0";
}

.scroll-bar-container{
    width: 100%;
    
}



.index-item{
    // height: 400px;
    height: 150px;
    width: 550px;
    list-style: none;
    position: relative;
    display: flex;
    flex-direction: column;
    
}



.index-item img {
    height: 150px;
    width: 100%;
    object-fit: fill;
}

.videos-index-body{
    // height: 500vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #141414;
}

#video-player{
    height: 90%;
    width: 90%;
}

.video-row {
    display: flex;
    flex-direction: column;
    width: 95%;
    // height: 500px;
    margin-top: 15px;
    margin-bottom: 25px;
    // margin-left: 3%;
}

.video-player-div-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
}

.video-player-div-top {
    height: 10%;

}
.video-player-div-top a {
    text-decoration: none;
}

#log-out-arrow {
    background-color: black;
    border: none;
    cursor: pointer;
}

.movie-arrow{
    // display: none;
    color: white;
    position: absolute;
    cursor: pointer;
    display: none;
    margin-top: 130px;
    margin-left: 45%;
    
    
}

.hidden-panel {
    display: none;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
}



.video-row-inner {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 200px;
}

.links-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 200px;
    width: 100%;
    position: relative;
    // overflow-x: scroll;
}

.featured-video-div {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 90vh;
    margin-top: 15px;
    margin-bottom: 60px;
    
}

#featured-video{
    width: 100vw;
  
}

.featured-video-h1 {
    color: white;
    font-weight: 800;
    font-size: 60px;
    text-shadow: 1px 1px 1px #0f0f0f;
    // font-family: Arial, Helvetica, sans-serif;
}

.index-h1 {
    color: white;
    font-weight: 700;
    font-size: 38px;
    text-shadow: 1px 1px 1px #0f0f0f;
    // font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
}

.featured-video-h4 {
    color: white;
    font-weight: 200;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.featured-video-h3 {
    color: white;
    font-weight: 200;
    font-size: 24px;
}

.featured-video-title-div {
    top:35vh;
    z-index: 3;
    position: absolute;
    left: 25vw;
}

.featured-mute-div {
    top:30vh;
    z-index: 3;
    position: absolute;
    right: 15vw;
}

.arrow-div {
    display: flex;
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
}

.duration{
    color: white;
    padding-left: 10px;
}

#scroll-bar {
    width: 100%;
    height: 25px;
    cursor: pointer;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#controls{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}



#volume-button{
    color: white;
    cursor: pointer;
}

#volume-bar {
    margin-right: 10px;
    cursor: pointer;
}

#log-out-button {
    color:black;
    background-color: white;
    border: none;
    cursor: pointer;
    width: 75px;
    height: 50px;
}



#search-results {
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    z-index: 3;
    opacity: 0;
    height: 0;
    width:200px;
    // height: 150px;
}

#search-form{
    display: flex;
    flex-direction: column;
    z-index: 3;
    height: auto;
    width: 45px;
    // height: 350px;
    // width: 100%;
    // justify-content: flex-end;
    // background-color: blue;

}

#search-div {
    display: flex;
    flex-direction: row;
    height: 50%;
    color: white;
    z-index: 3;
}

#search-li{
    list-style: none;
}

#search-li a{
    color: black;
    text-decoration: none;
}

.detail-row-show{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

.detail-row-hide{
    height: 0;
    width: 0;
}
.detail-row-show h3 {
    
    overflow: scroll;
    margin-left: 20px;
}

.detail-row-show img{
    width: 65%;
    height: 270px;
    object-fit: fill;
    background: linear-gradient(to right,#000,transparent);;
}

#index-button-background{
    background-color: black;
    margin-left: 5%;
    margin-top: 25px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

}

.index-item-title {
    margin-top: 65px;
    color: white;
    // background-color: black;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-left: 10px;
    text-shadow: 1px 1px 1px #0f0f0f;
    font-size: 25px;
   
}

#play-button-detail{
    color: white;
    margin-left: 20px;
    margin-bottom: 10px;
    
}

.aquaman-button {
    margin-top: 20px;
}

#play-button{
    color: white;
}

#play-featured-button{
    color: grey;
}

.aquaman-button a {
    text-decoration: none;
}

.left-show-div{
    width: 35%;
    overflow-y: hidden;
   
}

.left-arrow-div, .right-arrow-div {
    background-color: grey;
    height: 150px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: rgba(0,0,0,0.219);
    z-index: 20;
    position: absolute;
}
.left-arrow-div {
    left: 0
}
.right-arrow-div {
    right: 0
}